:root {
    --color-black: #1f1f1f;
    --color-white: #f1f1f1;
    --color-darkgrey: #3e3e3e;
    --color-lightgrey: #e3e3e3;
    --color-brown: #634b36;
    --color-green: #0f7c0d;
    --color-red: #7c0f0d;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--color-black);
    color: var(--color-lightgrey);
    overflow-x: hidden;
}

h3 {
    text-align: center;
}

a {
    color: var(--color-lightgrey);
    text-decoration: none;
}

hr {
    width: 100%;
}

.center{
    width: 50%;
    margin: 0 auto;
}

/**
 * Dialog
 */
#display {
    text-align: center;
}

.dialog {
    background-color: var(--color-darkgrey);
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.dialog::before {
    content: attr(data-correct);
    display: block;
    background-color: var(--color-black);
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    color: var(--color-green);
}

.dialog label {
    display: block;
    margin: 0.5rem 0;
}

.dialog textarea {
    display: block;
    resize: none;
    width: calc(100% - 1rem);
    height: 20rem;
    border-radius: 0.5rem;
    background-color: var(--color-black);
    color: var(--color-lightgrey);
    padding: 0.5rem;
}

.dialog .btns {
    display: flex;
    flex-flow: row-reverse;
}

.dialog .btns button {
    background-color: var(--color-darkgrey);
    color: var(--color-lightgrey);
    border-radius: 0.5rem;
    border-style: double;
    border-color: var(--color-lightgrey);
    margin: 0.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
}

.dialog .btns button:hover {
    filter: brightness(0.5);
    color: var(--color-white);
}

/**
 * indicators
 */
#indicators {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#indicators span {
    display: block;
    width: 20px;
    height: 20px;
    border: var(--color-brown);
    border: 2px solid var(--color-brown);
    border-radius: 0.5rem;
    margin: 1px;
    box-shadow: inset .15rem .15rem .05rem var(--color-black);
}

#indicators span.fail {
    background-color: var(--color-red);
}

#indicators span.success {
    background-color: var(--color-green);
}
