:root {
    --color-black: #1f1f1f;
    --color-white: #f1f1f1;
    --color-darkgrey: #3e3e3e;
    --color-lightgrey: #e3e3e3;
    --color-red: #e26666;
    --color-blue: #68a3da;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--color-black);
    color: var(--color-lightgrey);
    overflow-x: hidden;
}

h3 {
    text-align: center;
}

a {
    color: var(--color-lightgrey);
    text-decoration: none;
}

/**
 * All elements in modulations
 */
[id^="droplet"] > * > * {
    transition: transform 0.3s ease;
    transform-origin: center;
}

/**
 * Hover current element
 */
[id^="droplet"]:hover > * > * {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
    transform: scaleY(6);
    max-width: 1.5em;
}

[id^="droplet"]:hover > * > *:nth-child(2) {
    z-index: 10;
}

[id^="droplet"]:hover > * > *:not(:nth-child(2)) {
    z-index: 9;
}

/**
 * -1 / +1
 */
[id^="droplet"]:hover + div > * > *:not(:nth-child(2)),
[id^="droplet"]:has(+ div:hover) > * > *:not(:nth-child(2)) {
    background-color: rgb(218 92 89 / var(--tw-bg-opacity, 1));
}

[id^="droplet"]:hover + div > * > *:nth-child(2),
[id^="droplet"]:has(+ div:hover) > * > *:nth-child(2) {
    transform: scaleY(4);
    z-index: 8;
}

/**
 * -2 / +2
 */
[id^="droplet"]:hover + div + div > * > *:not(:nth-child(2)),
[id^="droplet"]:has(+ div + div:hover) > * > *:not(:nth-child(2)){
    background-color: rgb(196 117 111 / var(--tw-bg-opacity, 1));
}

 [id^="droplet"]:hover + div + div > * > *:nth-child(2),
[id^="droplet"]:has(+ div + div:hover) > * > *:nth-child(2) {
    transform: scaleY(3);
    z-index: 6;
}

/**
 * -3 / +3
 */
[id^="droplet"]:hover + div + div + div > * > *:not(:nth-child(2)),
[id^="droplet"]:has(+ div + div + div:hover) > * > *:not(:nth-child(2)){
    background-color: rgb(175 140 135 / var(--tw-bg-opacity, 1));
}

 [id^="droplet"]:hover + div + div + div > * > *:nth-child(2),
[id^="droplet"]:has(+ div + div + div:hover) > * > *:nth-child(2) {
    transform: scaleY(2);
    z-index: 4;
}