[id^="droplet"]>*>*:nth-child(2){
    transition: transform 0.3s ease;
    transform-origin: center;
}

[id^="droplet"]:hover>*>*:nth-child(2) {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
    transform: scaleY(5);
    max-width: 1.5em;
}

[id^="droplet"]:hover+div>*>*:nth-child(2) {
    transform: scaleY(3);
}

[id^="droplet"]:has(+div:hover)>*>*:nth-child(2) {
    transform: scaleY(3);
}


/*
[id^="droplet"]:hover+div+div>*>* {
    transform: scaleY(1.5);
}

[id^="droplet"]:has(+div+div:hover)>*>* {
    transform: scaleY(1.5);
}



[id^="droplet"]:hover+div+div+div>*>* {
    transform: scaleY(1.25);
}

[id^="droplet"]:has(+div+div+div:hover)>*>* {
    transform: scaleY(1.25);
} */